
.page1 { background: #b0b0ff }
.page2 { background: #d8d8f0 }
.page3 { background: #e8e8f8 }

.anrede     { background: #f0f0f0; color: #606060 }
.name       { background: #f0f0f0; color: #606060 }
.vorname    { background: #f0f0f0; color: #606060 }
.email      { background: #f0f0f0; color: #606060 }
.strasse    { background: #f0f0f0; color: #606060 }
.nr         { background: #f0f0f0; color: #606060 }
.postfach   { background: #f0f0f0; color: #606060 }
.land       { background: #f0f0f0; color: #606060 }
.plz        { background: #f0f0f0; color: #606060 }
.ort        { background: #f0f0f0; color: #606060 }
.homepage   { background: #f0f0f0; color: #606060 }
.geburtstag { background: #f0f0f0; color: #606060 }
.bild       { background: #f0f0f0; color: #606060 }
.ich        { background: #f0f0f0; color: #606060 }
